
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="m-0 text-dark text-center ">
        <a class="link-secondary" style="color:rgb(49, 49, 49)" href="{% url 'about:author' %}">Об авторе</a> - 
        <a class="link-secondary" style="color:rgb(49, 49, 49)" href="{% url 'about:tech' %}">Технологии</a>
    </p>
    <p class="m-0 text-dark text-center ">Социальная сеть 
        <span class="badge badge-dark style=" style="color:rgb(253, 247, 247)">П</span>
        <span style="color:rgb(10, 10, 10)">еремена</spane> © {{ year }}, все права защищены.<div class=""></div> </p>
</footer>
